* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color_form: azure;
    --color_form_detras: rgb(107, 207, 220);
    --color_bordes: black;
    --boton: rgb(107, 207, 220);
    --borde_sec: rgb(249, 197, 93);
}

body {
    height: 100vh;
}

form {
    background-color: var(--color_form);
    border: .1em solid var(--color_bordes);
    width: 30%;
    margin: 5em auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

form input {
    background-color: var(--color_form);
    width: 100%;
    padding: .5em;
    font-size: 1.3em;
    box-sizing: content-box;
    outline: none;
}

form input:not(:nth-child(3)) {
    border-bottom: .1em solid var(--color_bordes);
    margin-bottom: 1em;
}

form input[type='submit'] {
    background-color: var(--boton);
    border: .1em solid var(--color_bordes);
    box-shadow: .2em .2em 0 0 var(--borde_sec);
    width: 30%;
}

/* parte trasera del form  */

form::after {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--color_form_detras);
    border: .1em solid black;
    position: absolute;
    z-index: -1;
}

/* animacion para el boton */

@media (hover: hover) {

    form::after {
        left: 1.1em;
        top: 1.2em;
        transform: translate(-.5em, -1em) rotate(3deg);
    }

    form input[type='submit']:hover {
        transform: translate(.2em, .2em);
        box-shadow: none;
        cursor: pointer;
    }

    form:hover::after {
        animation: sombra .2s ease-out;
        animation-fill-mode: forwards;
    }

    input:focus:not(:nth-child(3)) {
        background-color: rgba(64, 213, 131, 0.087);
        color: rgba(0, 0, 0, 0.779);
    }

    form:not(:hover)::after {
        animation: inicio .2s ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes sombra {
        100% {
            top: 0em;
            left: 0em;
            transform: rotate(0deg) translate(0em, 0em);
        }
    }

    @keyframes inicio {

        0% {
            transform: rotate(0deg) translate(0em, 0em);
            left: 0em;
            top: 0em;
        }

        100% {
            left: 1.1em;
            top: 1.2em;
            transform: translate(-.5em, -1em) rotate(3deg);
        }
    }
}

/* para pantalla de celular */

@media all and (max-width:1024px) {

    form::after {
        display: none;
    }

    form {
        margin: 5em 4em;
        width: auto;
        font-size: .8em;
    }

    form input[type='submit'] {
        width: auto;
    }
}
