body {
    background: #000;
    padding-top: 10px;
}

p {
    color: rgb(251, 13, 13);
    font-family: "Courier";
    font-size: 2em;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    animation: type 2s steps(60, end);
}

@keyframes type {
    from {
        width: 0;
    }

    30% {
        color: rgb(90, 4, 111);
    }

    60% {
        color: rgb(251, 13, 13);
        background-color: rgb(90, 4, 111);
    }
}
