* {
    padding: 0;
    border: 0;
    font-size: 1.2em;
    margin: 2.4em;
}

body {
    background-color: black;
}

.cara,
#cubo {
    width: 200px;
    height: 200px;
    position: absolute;
}


.cara {
    background-image: radial-gradient(circle at 37.72% -19.64%, #ffcaff 0, #ffc1ff 12.5%, #ffb7ff 25%, #ffabff 37.5%, #f29df2 50%, #cc8fde 62.5%, #ac82cc 75%, #9078bb 87.5%, #786fac 100%);
    transition: opacity ease 1;
}

.cara:hover {
    opacity: 0;
}

#cara1 {
    background-color: red;
    transform: rotateX(90deg) translateZ(100px);
}

#cara2 {
    background-color: rebeccapurple;
    transform: translateZ(100px);
}

#cara3 {
    background-color: royalblue;
    transform: translateZ(-100px);
}

#cara4 {
    background-color: brown;
    transform: rotateY(90deg) translateZ(100px);
}

#cara5 {
    background-color: violet;
    transform: rotateY(-90deg) translateZ(100px) translateY(-96px);
}

#cara6 {
    background-color: teal;
    transform: rotateX(-90deg) translateZ(3px);
}

#cubo {
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
    animation: rodar 6s infinite linear;
}


@keyframes rodar {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* IMAGEN Y ESO */

img {
    width: 4em;
    position: absolute;
    transform: translateX(-110px) translateY(-80px);
}
